.input-test {
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
}

.test-btn {
  outline: none;
  border: none;
  display: inline-block;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bolder;
  font-size: 1rem;
}
